         <div class="main-panel"> 
           <div class="content">
                <div class="container-fluid">
                    <%= @result %>
                </div>
            </div> 
        </div>    