<div class="content">
  <div class="container-fluid">
    <%= map(
      :center => {
        :latlng => [12.8797, 121.7740], 
        :zoom => 6
      },
      :markers => @marks
    ) %>          
  </div>
</div> 
            